<div class="main-post-area">
  <div class="food-post">
    <a href="{{this.link}}" target="_blank"><p class="food-title">{{this.title}}</p></a>
    <img src="{{this.imgSource}}">
  </div>
  <p>Comments</p>
  {{#each comments}}
  <div>{{this.text}}</div>
  {{/each}}
  <form action="/post/{{_id}}" method="post">
    <p>Write your own comment below</p>
    <input type="text" name="newcomment">
    <input type="submit" value="Save">
  </form>
</div>